:root {
  --main-title-color: #ffffff;
  --second-title-color: #303030;
  --main-text-color: #555555;
  --second-text-color: rgba(157, 164, 189, 0.4);
  --therd-text-color: #9da4bd;
  --accent-color: #ff6c00;
  --main-btn-color: #ffffff;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
}
button {
  cursor: pointer;
}
body {
  font-family: "Open sans", sans-serif;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.header {
  background-color: #555555;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-logo {
  margin-right: 70px;
}

.header-list {
  display: flex;
}
.header-navigation {
  display: flex;
  align-items: center;
}
.header-container {
  display: flex;
  align-items: center;
}

.header-connect {
  margin-left: auto;
}

.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--main-title-color);
}
.header-item:not(:last-child) {
  margin-right: 30px;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
}
.header-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 40px;
}
.btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff;
  min-width: 160px;
  min-height: 50px;
  border-radius: 25px;
  border: 1px solid #ff6c00;
  background-color: transparent;
}

.btn:hover,
.btn:focus {
  background-color: #ff6c00;
}

/* -------------hero----------------------- */
.hero-container {
  display: flex;
}
.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--second-title-color);
}

.hero-list {
  width: 93px;
}

.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}

.hero-right {
  flex-grow: 1;
  padding: 272px 0 206px 96px;
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(images/Slider-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.pre-title::before {
  content: "";
  width: 63px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.6);
  margin-right: 21px;
}
.hero-pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}
.hero-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-bottom: 20px;
}

.hero-after-title {
  font-size: 18px;
  line-height: 1.67;
  /* or 167% */
  letter-spacing: 0.02em;
  color: #9da4bd;
  width: 400px;
}
/* ----------------about--------------- */
.about {
  padding-top: 121px;
  padding-bottom: 130px;
}
.about-container {
  display: flex;
}

.about-list {
  display: flex;
  margin-right: 64px;
  flex-shrink: 0;
}
.about-item:not(:last-child) {
  margin-right: 30px;
}
.aboutl-pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
  margin-bottom: 20px;
}

.about-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1, 17;
  letter-spacing: 0.05em;
  color: #303030;
  margin-bottom: 20px;
}

.about-after-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 20px;
}

.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 40px;
}

.about-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #303030;
}

.about-btn:hover,
.about-btn:focus {
  color: #fff;
}

/* ---------prices-------------- */
.prices {
  padding-top: 130px;
  padding-bottom: 130px;
  background-color: #111319;
  background-image: url(images/prises.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.prices-pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}
.prices-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #fff;
  margin-bottom: 54px;
}
.prices-list {
  width: 50%;
  padding: 30px 40px;
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.prices-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.prices-wraper {
  display: flex;
  margin-bottom: 50px;
}

.prices-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 20px;
}
.prices-text-count {
  order: 1;
}

.prices-item:last-child {
  margin: 0;
}
.prices-item::after {
  content: "";
  height: 1px;
  flex-grow: 1;
  margin: 0 6px;
  background: rgba(157, 164, 189, 0.12);
}

.prices-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  margin: 0 auto;
}

.prices-btn:hover,
.prices-btn:focus {
  background-color: #ff6c00;
}

/* ---------------reasons---------------- */

.reasons {
  padding: 121px 155px 130px 155px;
  display: flex;
}
.reason-count {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
  color: #303030;
  display: block;
  text-align: center;
  margin-bottom: 6px;
}

.reason-count::after {
  content: "+";
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  color: #ff6c00;
  vertical-align: text-top;
}
.reasons-list {
  width: 370px;
  display: flex;
  flex-wrap: wrap;
  margin-right: 130px;
  flex-shrink: 0;
}

.reasons-item {
  width: 170px;
  height: 133px;

  background-color: #faf5f5;
  display: block;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.reasons-item:nth-child(odd) {
  margin-right: 30px;
}

.reasons-item:nth-child(even) {
  margin-top: 30px;
}
.reasons-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}

.reasons-pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
}

.reasons-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #303030;
  margin-top: 20px;
}

.resosns-after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
  margin-top: 20px;
}

.reasons-container {
  display: flex;
}

/* ----------masters--------- */
.masters {
  background-color: #f7f7f7;
  padding-top: 130px;
  padding-bottom: 130px;
}
.masters-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}
.masters-item {
  /* flex-basis: calc((100% - 3 * 30px)) / 3; */
  flex-basis: calc(100% / 3 * 30px);
  margin-left: 30px;
}

.masters-pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
  margin-bottom: 20px;
}
.masteers-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #303030;
  margin-bottom: 44px;
}
.masters-item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
  margin-bottom: 8px;
}
.masters-item-text {
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff6c00;
}
.masters-item-bottom {
  padding-top: 30px;
}

.masters-social-item {
  width: 44px;
  height: 44px;
}

.masters-social-item + .masters-social-item {
  margin-left: 10px;
}

.masters-social-link {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.masters-social-list {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.masters-social-item:hover .masters-social-icon,
.masters-social-item:focus .masters-social-icon {
  fill: #ff6c00;
}
.masters-social-icon {
  fill: #000;
}
/* -----------gallery---------- */
.gallery {
  padding-top: 130px;
  padding-bottom: 130px;
}
.gallery-pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
  margin-bottom: 44px;
}
.gallery-list {
  display: flex;
}

.gallery-item {
  margin-right: 30px;
}
.gallery-item:last-child {
  margin-right: 0;
}

/* --------------online----------- */
.online {
  background: gray;
}
.onine-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.contacts {
  background: gray;
}

.contacts-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;

  color: #ffffff;
}
.contacts-link {
  font-style: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.contacts-bottom-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}
.contacts-bottom-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.footer-copy {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
}

.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}
.footer-link:hover {
  color: var(--accent-color);
}
